* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  title{
    text-align : left ;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  section {
    padding: 20px;
    margin: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #35424a;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  ol {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .contact-form button {
    background-color: #35424a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #292f36;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  grade{
    display : flex;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Cache les images débordantes */
  }
  
  .image-list {
    display: flex;
    transition: transform 1s ease; /* Transition douce lors du changement d'images */
    padding: 0; 
    margin: 0; 
    list-style-type: none; 
  }
  .image-list li {
    min-width: 25%; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: center; 
  }
  
  body{
    margin-top:30px;
  }
  
  .flex{
    display:flex;
    flex-wrap:wrap;
    margin:0 15px 0 15px;
  }
  .flex-item{
    margin:0 15px 0 15px;
  }